@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

header>figure {
    position: absolute;
    top: 200px;
    left: 900px;
    transform: scale(0.75);
    /* transform: scale(0.5) translate(-100%, -100%); */
}

h1 {
    background-image: url("../img/squareimg.jpg");
    background-position: 0% 20%;
    padding: 0px 0px 190px 0px;
    margin: 0 150px 3px 150px;
    font-size: 57px;
}

main>figure>img {
    display: none;
}

h2 {
    color: white;
    background-color: black;
    padding: 5px;
    margin: 0 150px 50px 150px;
    text-align: center;

}

main{
    display: flex;
    flex-direction: row;   
    /* position: relative;
    left: 400px;
    top: 40px;
    max-width: 700px; */
}

nav {
    position: sticky;
    margin: 0 100px 0 200px;
}

nav li {
    list-style-type: none;
    margin: 10px;
    padding: 5px 15px;
    text-decoration: none;
    border: 20px;
    border-color: blue;
}

article>h2, section>h2{
    display: none;
}

article{
    max-width: 700px;
}

article>ol>ol{
    list-style-type:lower-latin;
}

/* lo siguiente no funciona */
article>p>ul>li{
    list-style-type: circle;
    text-indent: 400px;
}

caption{
    text-align: left;
}

caption>p{
    text-decoration: underline;
}
/* article>table{
    display: flex;
    justify-content: space-between;
} */

/* header{
    display: flex;
    flex-direction: column;
    
} */