*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header figure{
    background-image: url("../img/wideimage.jpg");
    background-position: center;
    padding: 0px 0px 190px 0px;
    margin: 100px 150px 0 150px;
    
}

/* h1{
    background-image: url("../img/wideimage.jpg");
    background-position: center;
    padding: 0px 0px 190px 0px;
    margin: 0 150px 0 150px;
    
} */

h1 {
    position: relative;
    /* top: 0px; */
}

section>h2{
    color: antiquewhite;
    background-color: black;
    padding: 5px;    
    margin: 0 150px 0 150px;
    text-align: center;
    
}

main>figure>img{ 
    display: none;
}

nav{
    position:absolute;
    top: 80px;
    left: 860px;
}

nav a{
    color: white;
}

nav li{
    display: inline-block;
    background-color: blue;    
    margin: 5px;
    padding: 5px 15px;
}

h1{
    position: absolute;
    top:63px;
    left: 400px;

}

header figure img{
position: absolute;
top: 325px;
}

section>h4 {
    position:relative;
    left:400px;
    top:25px;
}

section>span{
    position:relative;
    left: 400px;
    top:25px;
}